<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to my backend side!</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="home">
  <a href="http://localhost:3002/posts" class="anchor"><button class="button">Click Here to visit my blog page!</button></a>
</body>
</html>